#listStudySet{
	width: 60%;
	margin: 0 auto;
	background-color: #10ac84;
}

#listStudySet:focus{
	background-color: #1dd1a1;
}

#listStudySet #flashCard{
	text-align: center;
	margin-top: 5rem;
	margin-bottom: 2rem;
}

#listStudySet #flashCard #question,
#listStudySet #flashCard #answer{
	padding: 11rem 0;
	font-size: 1.25rem;
	font-weight: 500;
	color: #fff;
}

#listStudySet #flashCard #question:focus,
#listStudySet #flashCard #answer{
	background-color: #1dd1a1;
}

.listBtn{
	width: 60%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;

}

.listBtn #btnPrev,
.listBtn #btnNext{
	padding: 1rem 5rem;
	outline: none;
	border: none;
	background-color: #01a3a4;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 5px;
	transition: 0.5s;
}

.listBtn #btnPrev:hover,
.listBtn #btnNext:hover{
	background-color: #00d2d3;
	transition: 0.5s;
}