.login-container,
.register-container{
    width: 100%;
    height: calc(100vh - 100px);
    background-color: #1dd1a1;
    margin-top: 0;
}

 .login-container #login-form,
 .register-container #register-form{
    width: 450px;
    margin: 0 auto;
    text-align: center;
}

.login-container .login-header,
.register-container .register-header{
    padding-top: 2rem;
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 10px;
}

.login-container .login-from,
.register-container .register-form{
    border: 3px solid #fff;
    margin-top: 1.5rem;
    border-radius: 5px;
}

.login-container .input-wrapper,
.register-container .input-wrapper{
    margin: 13px;
    margin-bottom: 20px;
}

.login-container .input-wrapper:first-child,
.register-container .input-wrapper:first-child{
    margin-top: 20px;
}

.login-container .input-wrapper .error,
.register-container .input-wrapper .error{
    color: #c23616;
    font-weight: 600;
    float: left;
    margin-bottom: 10px;
}


.login-container .input-wrapper input,
.register-container .input-wrapper input{
    width: 100%;
    padding: 15px;
    outline: none;
    border: none;
}

.login-container .forgetPassword{
    color: #fff;
    margin-top: 35px;
    margin-left: 13px;
    text-align: left;
    cursor: pointer;
}

.login-container .input-wrapper .btn,
.register-container .input-wrapper .btn{
    margin: 10px;
    width: 30%;
    padding: 15px;
    border: none;
    outline: none;
    color: #fff;
    background-color: #01a3a4;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    transition: 0.8s;
}

.login-container .input-wrapper .btn:hover,
.register-container .input-wrapper .btn:hover{
    background-color: #fff;
    color: #10ac84;
    width: 60%;
    transition: 0.8s;
}

.login-container .input-wrapper .text{
    color: #fff;
    margin: 20px 0;
}

.login-container .input-wrapper .btn-social-acc button{
    padding: 15px 0px;
    width: 200px;
    outline: none;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    transition: 0.8s;
    cursor: pointer;
    margin-top: 20px;
}

.login-container .input-wrapper .btn-social-acc #btn_google:hover{
    background-color: #EA2027;
    color: #fff;
    border: 2px solid #EA2027;
    transition: 0.8s;
}

.login-container .input-wrapper .btn-social-acc #btn_facebook:hover{
    background-color: #0652DD;
    color: #fff;
    border: 2px solid #0652DD;
    transition: 0.8s;
}

.redirect{
    margin-top: 20px;
    color: #fff;
    font-weight: 500;
}

.redirect #redirect-to-register,
.redirect #redirect-to-login{
    cursor: pointer;
}

.redirect #redirect-to-register:hover,
.redirect #redirect-to-login:hover{
    color: #c23616;
    text-decoration: underline;
    transition: 0.5s;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
.modal-header{
    margin-bottom: 20px;
}

.modal-body input{
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #dbdbdb;
}

.modal-body button{
    margin-top: 25px;
    padding: 15px 50px;
    background-color: #10ac84;
    border: none;
    outline: none;
    color: #fff;
    font-size: 19px;
    cursor: pointer;
}

 /* Modal Content/Box */
 .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}
  
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}