.main-info{
    width: 65%;
    margin: 0 auto;
}

.main-info .header{
    display: flex;
    margin-top: 50px;
    border: 3px solid #333;
    padding: 30px 10px;
}
.main-info .header img{
    width: 160px;
    margin-right: 50px;
}

.main-info .header h1{
    color: #10ac84;
    font-size: 2rem;
    margin: 30px 0;
}

.main-info .header .editAccountBtn,
.main-info .header .listBlogBtn{
    padding: 16px 42px;
    border: none;
    padding: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.25rem;
    background-color: #10ac84;
    outline: none;
    cursor: pointer;
}

.main-info .header .editAccountBtn:hover{
    background-color: #1dd1a1;
}

.main-info .edit-form,
#change-password-container{
    margin-top: 20px;
    display: none;
}

.main-info .edit-form #profile-current-password,
.main-info .edit-form .username,
.main-info .edit-form .email,
#change-password-container .current-password,
#change-password-container .new-password{
    margin-bottom: 10px;
}

.main-info .edit-form #profile-current-password input,
.main-info .edit-form .username input,
.main-info .edit-form .email input,
#change-password-container .current-password input,
#change-password-container .new-password input{
    display: block;
    font-size: 1.25rem;
    margin-top: 10px;
    padding: 10px 0;
    border: none;
    outline: none;
    border-bottom: 3px solid #333;
    width: 100%;
}

.main-info .edit-form #btn_changePassword,
.main-info .edit-form #btn-update-profile,
#change-password-container #btn_submitChangePass{
    padding: 15px 40px;
    margin-top: 10px;
    border: none;
    outline: none;
    background-color: #01a3a4;
    color: #fff;
    font-size: 1.25rem;
    cursor: pointer;
}

.main-info .edit-form #btn-close{
    outline: none;
    border: none;
}
.main-info .edit-form #btn-close i{
    padding: 15px;
    font-size: 25px;
    cursor: pointer;
    color: #fff;
    background-color: #c23616;
}

.main-info .list-blog-form{
    display: none;
}

.main-info .list-blog-form .article{
    display: flex;
    margin: 20px 0;
    width: 100%;
    background-color: #33d9b2;
    padding: 15px;
    justify-content: space-between;
}

.main-info .list-blog-form .article h1{
    font-size: 1.25rem;
    color: #333;
}

.main-info .list-blog-form .article .deleteBtn{
    padding: 10px;
    border: none;
    outline: none;
    color: #fff;
    background-color: #218c74;
    cursor: pointer;
}